/*
https://www.reddit.com/message/messages/34qynn
https://imgur.com/Ai0wuJD,tiX2w51,YEHQr8d,Hu15p8y,YuNR3so
graphics contributed by https://reddit.com/u/mfpmkx
*/

.desc-icon-resource {
  background-size:40px 40px;
  background-repeat:no-repeat;
  height:40px;width:40px;
  float:left;
  margin-right:0.5em;
}
.tab-icon-resource {
  /* large icons: */
  background-size:40px 40px;
  height:40px;width:40px;
  margin-left:-10px;margin-top:-10px;
  /* small icons: */
/*
  background-size:20px 20px;
  height:20px;width:20px;
*/
  /* either: */
  background-repeat:no-repeat;
  float:left;
  margin-right:0.5em;
}
.icon-meat {
  background-image: url("https://i.imgur.com/YEHQr8d.gif");
}
.icon-larva {
  background-image: url("https://i.imgur.com/tiX2w51.gif");
}
.icon-territory {
  background-image: url("https://i.imgur.com/YuNR3so.gif");
}
.icon-energy {
  background-image: url("https://i.imgur.com/Ai0wuJD.gif");
}
.icon-mutagen {
  background-image: url("https://i.imgur.com/Hu15p8y.gif");
}
